<section class="task-list">  
  <mat-paginator
  [length]="taskResource.value()?.totalCount" 
  [pageSize]="PAGE_SIZE"
  (page)="handlePageEvent($event)"
  [hidePageSize]="true"
  [showFirstLastButtons]="true" 
  />

  @if (taskResource.error()) {
    <p>Failed to retrieve tasks. Please try again.</p>
    <p>{{taskResource.error()?.message}}</p>
    <button (click)="taskResource.refresh()">Refresh</button>
  }

  @if (taskResource.isLoading()) {
    <div class="shade">
      <mat-spinner />
    </div>
  }

  <button  mat-button (click)="isCreateTask.set(true)">Create Task</button>
  @if (isCreateTask()) {
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="createdTitle" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput [(ngModel)]="createdDescription" />
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <button mat-button (click)="isCreateTask.set(false)">Cancel</button>
    <button mat-button (click)="createTask()">Create</button>
  }

  @for (task of taskResource.value()?.data; track task.id) {
    <task-card [initialTaskValue]="task" (deleteTaskEvent)="deleteTask($event)" />
  }
</section>